.founderSection-outerWarp {
  display: flex !important;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

.founder-container {
  max-width: 620px;
  @apply relative;
  flex: 0 40%;
  margin-bottom: 100px;
  @screen sm {
    height: 407px;
    @apply w-full;
  }
}

.founder-background {
  width: 100%;
  height: 100%;
  @apply bg-accent-dark;
  @apply absolute;
  bottom: -50px;
  left: 0px;
}

.founderSection-rightOuter {
  flex: 0 50%;
}

.founder-image {
  height: calc(100% - 209px);
}

.founder-content {
  left: 15px;
  @apply relative;
}

.founder-timer {
  left: 38px;
  bottom: 254px;
  @apply absolute;
}

.founder-name-container {
  border-bottom: 1px solid #ebebe9;
  padding-left: 20px;
  padding: 30px 20px;
  display: flex;
  align-items: center;
}

.founder-name-text {
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 200;
  @apply text-secondary;
}

.founder-name-text strong {
  font-weight: 900;
}

.founder-footer-container .tags:last-child {
  margin-left: 10px;
  border-left: 2px solid #fbf9f5;
  padding-left: 10px;
}

.founder-tags-container {
  height: 88px;
  padding-left: 31px;
}

.founder-tags-seperator {
  width: 0px;
  height: 39px;
  margin: 0px 24px;
  border: 1px solid #fbf9f5;
}

.founder-footer-container {
  height: 209;
  background: #01576e;
}

.founder-logo {
  margin-right: 57px;
}

.founderTitle {
  font-weight: 200;
  font-size: 130px;
  line-height: 130px;
  letter-spacing: -0.025em;
  color: #000000;
}

.founderTitle span {
  color: #01576e;
}

.heroSlider01-thumbnailOuter {
  position: absolute;
  z-index: 9;
  bottom: 280px;
  right: 0;
  width: 50%;
}

.heroSlider01-thumbnailText {
  font-size: 28px;
  line-height: 34px;
  /* or 121% */
  color: #083a4a;
  max-width: 150px;
}

.heroSlider01-thumbnailInner {
  display: flex !important;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: end;
  width: 100%;
}

span.thumbnailIndex {
  flex: 0 25px;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height, or 117% */
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #083a4a;
}

.founder-field-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
}
