@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');
@import './index.scss';
@import '../modules/menu/menu.module.scss';

// component styles
@import '../components/founder/founder.component.scss';
@import '../components/contentSlider/contentslider.component.scss';
@import '../components/contentItem/contentitem.component.scss';
@import '../components/header/header.component.scss';

// modules
//home
@import '../modules/home/homeContent/homecontent.module.scss';
@import '../modules/home/home.module.scss';
@import '../modules/home/homeFounder/homefounder.module.scss';
@import '../modules/home/homeCarousal/homecarousal.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, 'Manrope', BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  height: 100%;
}

#__next {
  height: 100%;
}

h1 {
  @apply font-extralight;
  font-size: 190px;
  line-height: 150px;

  @screen sm {
    @apply font-light;
    font-size: 60px;
    line-height: 52px;
  }
}

h2 {
  @apply font-medium;
  font-size: 140px;

  @screen sm {
    @apply font-medium;
    font-size: 45px;
  }
}

h3 {
  @apply font-light;
  font-size: 100px;

  @screen sm {
    @apply font-light;
    font-size: 25px;
  }
}

h4 {
  @apply font-light;
  font-size: 85px;

  @screen sm {
    @apply font-light;
    font-size: 20px;
  }
}

h5 {
  @apply font-light;
  font-size: 54px;
  line-height: 62px;

  @screen sm {
    @apply font-normal;
    font-size: 16px;
    line-height: 24px;
  }
}

h6 {
  @apply font-semibold;
  font-size: 32px;
  line-height: 24px;

  @screen sm {
    @apply font-normal;
    font-size: 16px;
    line-height: 14px;
  }
}

.sub-h1 {
  @apply font-light;
  font-size: 28px;
  line-height: 34px;
  font-weight: 400;

  @screen sm {
    @apply font-medium;
    font-size: 18px;
    line-height: 20px;
  }
}

.sub-h2 {
  @apply font-medium;
  font-size: 18px;
  font-weight: 500;

  @screen sm {
    @apply font-medium;
    font-size: 14px;
  }
}

.body1 {
  @apply font-normal;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500px;

  @screen sm {
    @apply font-normal;
    font-size: 14px;
    line-height: 18px;
  }
}

.body2 {
  @apply font-medium;
  font-size: 15px;

  @screen sm {
    @apply font-normal;
    font-size: 14px;
  }
}

.caption {
  @apply font-light;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.1em;

  @screen sm {
    @apply font-medium;
    font-size: 11px;
  }
}

.footer {
  height: 340px;
  width: '100%';

  @screen sm {
    height: 339px;
  }
}

.footer-top {
  height: 270px;

  @screen sm {
    height: 339px;
  }
}

.footer-menu {
  height: 92px;

  @screen sm {
    height: 189px;
  }
}

.menu-text {
  width: 73px;
  height: 34px;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

.tag-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  height: 41px;
  background: #083a4a;
  border: 1px solid #083a4a;
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  height: 41px;
  border: 1px solid #083a4a;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  width: fit-content;
}

.menu-primary-nav-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200;
  font-size: 55px;
  line-height: 64px;
  letter-spacing: -0.01em;
}

.menu-secondary-nav-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.menu-primary-nav-icon {
  width: 33px;
  height: 64px;
  margin-right: 82px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 200;
  font-size: 55px;
  line-height: 64px;
  text-align: right;
}

.menu-secondary-nav-icon {
  width: 18px;
  height: 36px;
  margin-right: 82px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.company-logo {
  width: 156.19px;
  height: 65px;
  margin-top: 44px;
  margin-left: 84px;
}

.menu-tags {
  width: 740px;
  opacity: 0.5;
  border: 2px solid #083a4a;
  box-sizing: border-box;
  margin-top: -19px;
}

.content-item-desc {
  width: 345px;
  height: 145px;
}

.menu-content-nav-button {
  width: 390px;
  height: 68px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
}

.menu-content-nav-button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  text-align: center;
}

//menu side nav
.side-nav {
  height: 937px;
  margin-top: 143px;
  width: 548px;
  padding-left: 82px;
  padding-top: 61px;
}

// home content tabs

.home-content-tab {
  font-size: 85px;
  line-height: 95px;
}

.home-content-container {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
  margin: 60px;
}

.home-content-container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.home-content-side-nav-container {
  min-width: 663px;
  padding-left: 80px;
}

.home-content-side-nav-container:after {
  opacity: 0.5;
}

// -------------- Advisory Team Page Style ---- start ----

.team-overlay {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  // transition: all 1s;
}

.team-hover:hover .team-overlay {
  opacity: 1;
}

.team-member .team-member-info {
  background: #01576e;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 13;
}

.team-member img.team-member-img {
  position: relative;
  z-index: 12;
  width: 100%;
}

// -------------- Advisory Team Page Style ---- end ----

.h-28r {
  height: 28.688rem;
}

.c-bg {
  // background-image: url(../../public/img/Portfolio.png);
  height: 28.688rem;
}

.pt-19p {
  padding-top: 1.188rem;
  padding-bottom: 1.188rem;
}

.pl-3p {
  padding-left: 3.063rem;
  padding-right: 3.063rem;
}

.btn-active-bg {
  background-color: #01576e;
  color: #ffffff;
}

.txt-white {
  color: #ffffff;
}

/************Media Query***************/
@media (max-width: 1787px) {
  .position-bottom {
    bottom: -140px;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1032px) {
  .hero-txt {
    font-size: 3rem;
  }

  .position-bottom {
    bottom: -152px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1031px) {
  .position-bottom {
    bottom: -116px;
  }

  .hero-txt {
    font-size: 3rem;
  }
}

@media (min-width: 1788px) {
  .hero-txt {
    font-size: 5.2rem;
  }

  .position-bottom {
    bottom: -126px;
  }
}

.text-current {
  color: #01576e;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 29rem;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flip-card-back {
  background-color: #fbf9f5;
  transform: rotateY(180deg);
}

.web-url {
  color: #01576e;
  font-size: 20px;
  letter-spacing: 5px;
  line-height: 15px;
}

.flip-card-front img {
  object-fit: cover;
}

@media (max-width: 639px) {
  .flip-card {
    height: 20rem;
  }

  .pt-19p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .hide-mobile {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .tabination {
    top: -5.1rem !important;
  }

  .tab-btn {
    max-width: 50%;
    width: 100%;
  }
}

@media screen and (max-width: 639px) and (min-width: 483px) {
  .tabination {
    top: -2.3rem !important;
  }
}

@media (max-width: 482px) {
  .tabination {
    top: -2.3rem !important;
  }
}

@media screen and (max-width: 767px) and (min-width: 640px) {
  .pl-3p {
    padding-left: 2.063rem;
    padding-right: 2.063rem;
  }

  .pt-19p {
    padding-top: 1.45rem;
    padding-bottom: 1.45rem;
  }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .pl-3p {
    padding-left: 2.063rem;
    padding-right: 2.063rem;
  }
}

@media screen and (max-width: 1024px) {
  .hide-tab {
    display: none;
  }
}

// -------------- tabination styles --- start ---

.tabination {
  position: absolute;
  top: -5rem;
  width: 100%;
  text-align: center;
}

// -------------- tabination styles --- start ---

.control-dots {
  @screen laptop {
    text-align: start !important;
    padding: 0 75px 84px !important;
  }

  @screen sm {
    padding: 40px 0 !important;
  }
}

.overlay {
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    z-index: -1;
  }
}

.listing {
  .listing-hero-section {
    background-image: url('/images/matrixMomentsLaptop.png');

    @screen sm {
      background-image: url('/images/matrixMomentsMobile.png');
    }

    position: relative;
    z-index: -1;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 482px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;

    .info {
      position: absolute;
      bottom: 0;
      left: 75px;
      width: 362px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #083a4a;
      padding: 20px;

      @screen sm {
        width: 225px;
        left: auto;
        right: 0px;
      }
    }

    @screen sm {
      height: 436px;
      justify-content: flex-start;

      .title {
        width: 300px;
      }
    }
  }

  .image-shadow {
    box-shadow: -6px 10px 0px 0px #01576e;
    -webkit-box-shadow: -6px 10px 0px 0px #01576e;
    -moz-box-shadow: -6px 10px 0px 0px #01576e;

    @screen sm {
      box-shadow: -6px -10px 0px 0px #01576e;
      -webkit-box-shadow: -6px -10px 0px 0px #01576e;
      -moz-box-shadow: -6px -10px 0px 0px #01576e;
    }
  }
}

.section {
  position: relative;
  padding: 0 75px;

  @screen sm {
    padding: 0 30px;
  }
}

.timer {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);

  span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;

    background: #fbf9f5;
  }

  span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    background: #fbf9f5;
  }

  span:nth-child(3) {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 6px;
    background: #fbf9f5;
  }

  span:nth-child(4) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 6px;
    background: #fbf9f5;
  }

  span:nth-child(5) {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 6px solid rgba(255, 255, 255, 0.377);
    z-index: -1;
  }
}

// -------------- tabination styles --- end ---

// -------------- advisory detail page styles --- start ---

.team-member-detail {
  .member-profile-img {
    position: relative;
    z-index: 15;

    img {
      position: relative;
      z-index: 15;
      width: 100%;
    }
  }

  .team-detail-overlay {
    .team-member-info {
      bottom: -70px;
      position: absolute;
      background: #01576e;
      z-index: 16;

      .member-contact ul li img {
        width: 31px;
      }
    }
  }
}

.member-position {
  position: absolute;
  right: -3rem;
  bottom: 22rem;
  z-index: 17;
  width: 20rem;
  transform: rotate(-90deg);
  transform-origin: bottom right;

  .title-white-box {
    background-color: #ffffff;
    border: 2px solid #01576e;
  }
}

.member-more-detail {
  font-family: 'Poppins', sans-serif;
}

// -------------- advisory detail page styles --- end ---

//--------------- Contact Page --------------------------//

.main-txt,
.bbc {
  color: #01576e;
}

.bg-overlay {
  width: 230px;
  height: 100%;
  position: absolute;
  background: #083a4a;
  bottom: 15px;
  left: 15px;
  z-index: -1;
}

.line {
  width: 94%;
  margin: 25px 0 35px 0;
  height: 1px;
  color: #01576e;
}

.under-line {
  width: 127px;
  height: 2px;
  background: #01576e;
  margin-bottom: 10px;
}

.direction-link {
  position: relative;
  right: 1.2vw;
  top: 1vh;
  float: right;
}
.contact-form > label {
  display: block;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
  line-height: 24px;
  letter-spacing: 0.025em;
}
.contact-form > input,
textarea {
  width: 100%;
  height: 32px;
  background: #ebebe9;
  padding: 0 10px;
  margin: 9px 0 25px 0;
}
.contact-form > textarea {
  height: 158px;
}
.contact-form > button {
  color: #01576e;
  background: none;
  border: 0;
  font-size: 32px;
  margin-top: 27px;
}
.row {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 650px) {
  .row {
    flex-direction: column;
  }
  .presskit-header {
    font-size: 40px !important;
  }
  .presskit-subheader {
    font-size: 20px !important;
  }
  .presskit-txt {
    font-size: 17px !important;
  }
  .presskit-main-txt {
    font-size: 33px !important;
  }
  .presskit-form > div > div > label,
  .presskit-form > label {
    font-size: 22px !important;
    margin: 40px 0 20px 0 !important;
  }
  .right-label {
    margin-left: 0 !important;
  }
  .presskit-form > div > div:nth-child(2) > input {
    float: left !important;
  }
}
.right-label {
  margin-left: 10% !important;
}
.presskit-main-txt {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 120px;
  letter-spacing: -0.01em;
}
.presskit-header {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 120px;
  letter-spacing: -0.01em;
  color: #adaeb2;
}
.presskit-subheader {
  font-size: 35px;
  color: #adaeb2;
  font-weight: bold;
}
.presskit-txt {
  font-size: 30px;
  color: #adaeb2;
  margin-bottom: 20px;
}
.presskit-form > div > div > label,
.presskit-form > label {
  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #000000;
  display: block;
  margin: 51px 0 27px 0;
}
.presskit-form > div > div > input,
.presskit-form > input {
  width: 90%;
  height: 55px;
  background: #ebebe9;
  padding: 0 20px;
  margin: 9px 0 25px 0;
  font-size: 21px;
}
.presskit-form > input {
  width: 100%;
}
.presskit-form > div > div:nth-child(2) > input {
  float: right;
}
.presskit-form > textarea {
  width: 100%;
  height: 115px;
  padding: 10px 20px;
  font-size: 21px;
}
.presskit-form > button {
  width: 25.93px;
  height: 16.83px;
  font-weight: bold;
  color: #01576e;
}
@media screen and (max-width: 650px) {
  .contact-img {
    width: 83vw;
    float: right;
    // margin-bottom: 700px !important;
  }
  .contact-bg-overlay {
    width: 83vw !important;
  }
  .contact-address {
    position: relative !important;
    z-index: 10 !important;
    background: white !important;
    top: 365px !important;
    width: 82vw !important;
  }
  .contact-address > div > a,
  .contact-address > div > hr {
    display: none;
  }
  .city-overlay {
    display: block !important;
    background: #083a4a;
    width: 25vw;
    position: absolute;
    z-index: 1000;
    font-size: 18px;
    left: 8.5vw;
    top: -1px;
    color: #fbf9f5;
  }
  .map-info > p {
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;
    z-index: 100;
  }
  .direction-link {
    float: left !important;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
    letter-spacing: 0.06em;
    color: #000000;
    display: flex;
    width: 50vw;
  }
  .direction-link > span {
    display: block !important;
    margin-left: 3vw;
  }
  .form-heading {
    margin-top: 120px !important;
  }
  .website-link {
    font-size: 16px !important;
    margin-top: 10px !important;
  }
  .contact-subHeading {
    font-size: 25px !important;
    margin-top: 42px !important;
  }
  .map {
    display: none !important;
  }
  .first-head {
    margin-bottom: -100px;
  }
}
.contact-heading {
  font-size: 48px;
}
.website-link {
  font-family: Manrope;
  font-style: normal;
  margin-top: 25px;
  color: #01576e;
  font-size: 16px;
}

.direction-link > span {
  display: none;
}
.city-overlay {
  display: none;
}
.contact-bg-overlay {
  width: 234px;
  height: 100%;
  position: absolute;
  background: #083a4a;
  bottom: 15px;
  left: 15px;
  z-index: -1;
}
