html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, 'Manrope', BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  height: 100%;
}

#__next {
  height: 100%;
}

h1 {
  @apply font-extralight;
  font-size: 190px;
  @screen sm {
    @apply font-light;
    font-size: 60px;
  }
}

h2 {
  @apply font-medium;
  font-size: 140px;
  @screen sm {
    @apply font-medium;
    font-size: 45px;
  }
}

h3 {
  @apply font-light;
  font-size: 100px;
  line-height: 120px;
  @screen sm {
    @apply font-light;
    font-size: 25px;
    line-height: 28px;
  }
}

h4 {
  @apply font-light;
  font-size: 85px;
  @screen sm {
    @apply font-light;
    font-size: 20px;
  }
}

h5 {
  @apply font-light;
  font-size: 54px;
  @screen sm {
    @apply font-normal;
    font-size: 16px;
  }
}

h6 {
  @apply font-semibold;
  font-size: 32px;
  line-height: 36px;
  @screen sm {
    @apply font-normal;
    font-size: 16px;
  }
}

.sub-h1 {
  @apply font-light;
  font-size: 28px;
  @screen sm {
    @apply font-medium;
    font-size: 18px;
  }
}

.sub-h2 {
  @apply font-medium;
  font-size: 18px;
  @screen sm {
    @apply font-medium;
    font-size: 14px;
  }
}

.body1 {
  @apply font-normal;
  font-size: 20px;
  @screen sm {
    @apply font-normal;
    font-size: 14px;
  }
}

.body2 {
  @apply font-medium;
  font-size: 15px;
  @screen sm {
    @apply font-normal;
    font-size: 14px;
  }
}

.caption {
  @apply font-light;
  font-size: 12px;
  @screen sm {
    @apply font-medium;
    font-size: 11px;
  }
}

.footer {
  height: 340px;
  width: '100%';
  @screen sm {
    height: 339px;
  }
}

.footer-top {
  height: 270px;
  @screen sm {
    height: 339px;
  }
}

.footer-menu {
  height: 92px;
  @screen sm {
    height: 189px;
  }
}

.tag-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  height: 41px;
  background: #083a4a;
  border: 1px solid #083a4a;
  box-sizing: border-box;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 14px;
  height: 41px;
  border: 1px solid #083a4a;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.01em;
  width: fit-content;
}

.menu-primary-nav-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 200;
  font-size: 55px;
  line-height: 64px;
  letter-spacing: -0.01em;
}

.menu-secondary-nav-text {
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.menu-primary-nav-icon {
  width: 33px;
  height: 64px;
  margin-right: 82px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 200;
  font-size: 55px;
  line-height: 64px;
  text-align: right;
}

.menu-secondary-nav-icon {
  width: 18px;
  height: 36px;
  margin-right: 82px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #ffffff;
}

.company-logo {
  width: 156.19px;
  height: 65px;
  margin-top: 44px;
  margin-left: 84px;
}

.menu-tags {
  width: 740px;
  opacity: 0.5;
  border: 2px solid #083a4a;
  box-sizing: border-box;
  margin-top: -19px;
}

.content-item-desc {
  width: 345px;
  height: 145px;
}

.menu-content-nav-button {
  width: 390px;
  height: 68px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
}

.menu-content-nav-button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.03em;
  text-align: center;
}

//menu side nav
.side-nav {
  height: 937px;
  margin-top: 143px;
  width: 548px;
  padding-left: 82px;
  padding-top: 61px;
}
