.content-item-image {
  width: 218px;
  height: 162px;
}

.itemCoverImage {
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
