.content-item-image {
  width: 218px;
  height: 162px;
}

.itemCoverImage {
  width: 150px;
  height: 120px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.blogCoverImage {
  height: 250px;
  width: 250px;
  left: 0px;
  bottom: 0px;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s all;
}

.contentWithTagImgbox:hover .blogCoverImage {
  left: 5px;
  bottom: 5px;
}
