.header-logo {
  margin-top: 43px;
  margin-left: 62px;
  width: 187px;
  height: 78px;
}

.header-menu {
  margin-top: 55px;
  margin-right: 82px;
}

.header-menu-text {
  @apply font-normal;
  @apply text-accent;
  font-size: 28px;
  line-height: 34px;
}

.headerOuter-warpper {
  box-sizing: border-box;
  width: 100%;
  margin: 40px 0;
}

.headerInner-warpper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.headerInner-warpper .menuOuter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
